header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	width: 80%;
	min-width: 600px;
	margin: auto;

	background-color: #00569f;
	background-image: url(images/ptrbackground.jpg);
	background-repeat: repeat-x;
	background-size: auto;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	background-repeat: no-repeat;
}

nav {
	float: left;
}

nav ul {
	background-color: rgb(144,200,227);
	background-position: left;
	margin: auto;
	padding-bottom: 100%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	font-size: 1.2em;
	font-weight: 700;
	color:#344873;
	text-decoration: none;
	list-style-image: none;
}
nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}


h1 {
	background-image: url(images/sunset.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}

div {
	background-color: #FFFFFF;
	columns: 1;

}

.content {
	float: right;
	margin: auto;
	
	text-align: right;
}

div ul{
	list-style-image: url("images/marker.gif");
}

.contact {
	float: right;
	margin: auto;
}

.resort {
	font-weight: bolder;
	color:#3399CC;
}

dt {
	color: #000033;
}
footer {
	float:right;
	font-family: Georgia, "Times New Roman", serif;
	
}

